html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

@media (min-width: 992px) {
}


.fill-remaining-height {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#navbarResponsive {
    display: inline-block !important;
    float: left;
}

.nav-bar-container {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
    padding-right: 0px;
}

.dropdown-menu-right {
    left: auto;
    right: 0px;
}

.app-footer {
    background-color: #e5e4e4;
    padding: 10px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;


    .info {
        float: right;
    }
}

body {
    background-color: rgba(238, 238, 238, 0.42);
}

.form-signin {
    width: 393px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 72px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user-password-input {
    border-radius: 5px !important;
}

.errors-list {
    white-space: pre-line;
}

#navbarResponsive .nav-link {
    text-transform: capitalize;
}

.data-table-template table {
    table-layout: fixed;
}

.data-table-template td {
    word-break: break-all;
}


.data-table-template td,
.data-table-template th {
    vertical-align: middle;
}

.dataTables_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.alert-danger ul {
    margin-bottom: 0px;
}

.common-modal .modal-dialog {
    opacity: 1 !important;
}

.common-modal .modal {
    display: inline-block;
    z-index: 99999;
}

.common-modal .modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    z-index: 9999;
    opacity: 0.5;
}

/***
UI Loading
***/
.loading-message {
    display: inline-block;
    min-width: 125px;
    margin-left: -60px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    z-index: 9999999;
    border-radius: 5px;
}

.loading-message.loading-message-boxed {
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.loading-message > span {
    line-height: 20px;
    vertical-align: middle;
}

.page-loading {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: -60px;
    margin-top: -30px;
    padding: 7px;
    text-align: center;
    color: #333;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.page-loading > span {
    line-height: 20px;
    vertical-align: middle;
}

.page-spinner-bar {
    position: fixed;
    z-index: 10051;
    width: 100px;
    top: 40%;
    left: 50%;
    margin-left: -55px;
    text-align: center;
}

.page-spinner-bar > div {
    margin: 0 5px;
    width: 18px;
    height: 18px;
    background: #eee;
    border-radius: 100% !important;
    display: inline-block;
    -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
    animation: bounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page-spinner-bar .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.page-spinner-bar .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.block-spinner-bar {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.block-spinner-bar > div {
    margin: 0 2px;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100% !important;
    display: inline-block;
    -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
    animation: bounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.block-spinner-bar .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.block-spinner-bar .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}


.actions-slot {
    display: none;
}

#app {
    position: relative;
    padding-bottom: 50px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.root > .container-fluid {
    padding-top: 43px;
}

.container-fluid {
    width: auto;
    padding: 0 15px;
}

.root {
    width: 100%;
    position: relative;
    min-height: 100%;
    display: inline-block;
    padding-bottom: 76px;
    overflow-x: hidden;
}

.dataTables_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.blockUI {
    z-index: 9999999 !important;
}


