html {
    height: 100%;
}

body {
    padding-top: 54px;
    height: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


.fill-remaining-height {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#navbarResponsive {
    display: inline-block !important;
    float: left;
}

.nav-bar-container {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
    padding-right: 0px;
}

.dropdown-menu-right {
    left: auto;
    right: 0px;
}

.app-footer {
    background-color: #e5e4e4;
    padding: 10px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;

    .info {
        float: right;
    }
}

body {
    background-color: rgba(238, 238, 238, 0.42);
}

.form-signin {
    width: 393px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 72px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user-password-input {
    border-radius: 5px !important;
}

.errors-list {
    white-space: pre-line;
}

#navbarResponsive .nav-link {
    text-transform: capitalize;
}

.data-table-template {
    display: none;
}

.data-table-template table {
    table-layout: fixed;
}
